SUPABASE_URL=https://qcjgkryrkipzpmnxqxsk.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_uSPOqPJfROgiII3S0SDXyQ_1HtRg6tE
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
SUPABASE_SCORM_BUCKET=scorm-packages
